In [14]:
# check mysql connection
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    # xampp ka base url "local host h"
    user ="root",
    # xampp ka default user
    password=""
    # xampp ka default password
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002A1ED977D90>

In [2]:
# creating database
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    # xampp ka base url "local host h"
    user ="root",
    # xampp ka default user
    password=""
)

mycursor = mydb.cursor()
# mycursor maps/stores the values to the database
mycursor.execute("CREATE DATABASE nsec")
print("Database created successfully")

Database created successfully

In [7]:
# list databases
import mysql.connector
xyz = mysql.connector.connect(
    host="localhost",
    # xampp ka base url "local host h"
    user ="root",
    # xampp ka default user
    password=""
)

mycursor = xyz.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print (x)

('information_schema',)
('mysql',)
('nsec',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [8]:
# creating a table
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    # xampp ka base url "local host h"
    user ="root",
    # xampp ka default user
    password="",
    database="nsec"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE students(name VARCHAR(255), address VARCHAR(255), gender VARCHAR(30))")
print("tablecreated successfully")

tablecreated successfully

In [12]:
# CREATING TABLE COLLEGE
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="nsec"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE college(college_name VARCHAR(255), college_address VARCHAR(255), college_phoneno INT(20), location VARCHAR(255))")

In [16]:
# insert into the table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="nsec"
)

mycursor = mydb.cursor()

sql = "INSERT INTO college(college_name,college_address,college_phoneno,location) VALUES (%s, %s, %s,%s)"
val=(input('Enter college name -> '),input("Enter college address -> "),input("Enter college phone number -> "),input("Enter college location -> "))
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "records inserted.")

1 records inserted.

In [17]:
# Selecting from table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="nsec"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM college")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('nsec', 'garia', 2147483647, 'kolkata')
('msit', 'ruby', 2147483647, 'ruby')

In [ ]:
# Drop Table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="nsec"
)

mycursor = mydb.cursor()

sql = "DROP TABLE students"
mycursor.execute(sql)
print("Table deleted successfully")